<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="NPstyle.css"> -->
    <title>Number Plate Detection</title>
    <style>
        body {
            background-image: url("{{ url_for('static', filename='bag6.jpg') }}");
        }

        .NpH1{
            color: white;
            text-align: center;
            margin: 5vh;
        }

        .img{
            margin: 10px;
        }
    </style>
</head>
<body style="background-image: url_for('bag6.jpg'); background-size: cover;">
    <h1 class="NpH1">Video Streaming</h1>
    <div style="display: flex; align-items: center; justify-content: center;">

    <img id="video-stream" src="{{ url_for('video') }}" style="border: 1px solid #000;" class="img">

    <!-- <img src="img1.png" alt="" width="50%" class="img "> -->
    </div>
</body>
</html>


<!-- <img id="video-stream" src="{{ url_for('video') }}" style="border: 1px solid #000;"> -->